@model Peach_Grove_Apartments_Demo_Project.ViewModels.AppUserContactViewModel

@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_ResidentAccountLayout.cshtml";
}
<partial name="_LoggedInAsPartial" />
<br />
@if (ViewBag.ContactUsSuccess != null && ViewBag.ContactUsSuccess)
{

    <div style="background: lightgreen; border: 1px solid green; color: black; width: 600px;text-align: center;padding: 40px;">
        <div style="display: inline-block;">
            <b>Your message was sent successfully!</b>
        </div>
    </div>
    <br />
    <br />

    @*<div style="background: #5ce600; border: 1px solid gray; color: white; width: 600px;text-align: center;padding: 40px;">
        <div style="display: inline-block;">
            <b>Your message was sent successfully!</b>
        </div>
    </div>
    <br />
    <br />*@

}

<h1>Contact Us</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="contactus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" style="width: 600px;" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" required></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

}



