@model Peach_Grove_Apartments_Demo_Project.ViewModels.ReviewViewModel

@{
    ViewData["Title"] = "Write A Review";
    Layout = "~/Views/Shared/_ResidentAccountLayout.cshtml";
    ViewBag.Success = "Your Review was submitted successfully!";
}

<partial name="_LoggedInAsPartial" />
<br />
<h1>Write A Review</h1>
<hr />

<br />

@if (ViewBag.ReviewSuccess != null && ViewBag.ReviewSuccess)
{
    <partial name="_ViewsStatusMessage" model="ViewBag.Success" />

    @*<div class="alert alert-success alert-dismissible" role="alert" style="max-width: 500px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        Your Review was submitted successfully!
    </div>*@

    @*<div style="background: lightgreen; border: 1px solid green; color: black; max-width: 600px;text-align: center;padding: 40px;">
            <div style="display: inline-block;">
                <b>Your Review was submitted successfully!</b>
            </div>
        </div>
        <br />
        <br />*@

}

<div class="row">
    <div class="col-md-10">
        <form asp-action="writereview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ReviewText" class="control-label"></label>
                <textarea asp-for="ReviewText" class="form-control" maxlength="10000" required></textarea>
                <span asp-validation-for="ReviewText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

}