@model PeachGroveApartments.Infrastructure.Models.Application

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_ApplicantAccountLayout.cshtml";
}
<partial name="_LoggedInAsPartial" />
<h1>Delete</h1>

<h3>Are you sure you want to cancel the application?</h3>
<div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ApplicationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="applications">Back to List</a>
    </form>
</div>