@model Peach_Grove_Apartments_Demo_Project.ViewModels.MaintenanceRequestViewModel
@{
    ViewData["Title"] = "Maintenance";
    Layout = "~/Views/Shared/_AppUserAccountLayout.cshtml";
}

@if (ViewBag.MaintenanceSuccess != null && ViewBag.MaintenanceSuccess)
{
    <div style="background: #5ce600; color: white; width: 600px;text-align: center;padding: 40px;">
        <div style="display: inline-block;">
            <b>Your maintenance request was submitted successfully!</b>
        </div>
    </div>
    <br />
    <br />
}
else if (ViewBag.MaintenanceSuccess == false && ViewBag.MaintenanceSuccess)
{
    <div style="background: #5ce600; color: white; width: 600px;text-align: center;padding: 40px;">
        <div style="display: inline-block;">
            <b>There was a problem submitting your request. Please try again later.</b>
        </div>
    </div>
    <br />
    <br />
}

<h1>New Maintenance Request</h1>
<br />
<div class="container">
    <ul class="nav nav-tabs mp" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#newreq">

                <div class="wrapper">


                    <div class="fp-link-content">
                        <span class="fp-group-name"> New Request </span>

                    </div>


                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="appuseraccount" asp-action="reqhistory">

                <div class="wrapper">


                    <div class="fp-link-content">
                        <span class="fp-group-name"> Request History </span>

                    </div>


                </div>
            </a>
        </li>

    </ul>


    <div class="tab-content">


        <div id="newreq" class="container tab-pane active">

            <br />
            <form id="newreq" asp-action="maintenance">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="ProblemDescription" class="control-label"></label>
                    <textarea asp-for="ProblemDescription" class="form-control" maxlength="10000" required></textarea>
                    <span asp-validation-for="ProblemDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="isAllowedToEnter" class="control-label" />
                    <label asp-for="isAllowedToEnter" class="control-label"></label>
                    <span asp-validation-for="isAllowedToEnter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>


        </div>



    </div>


</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

}
