@model Peach_Grove_Apartments_Demo_Project.ViewModels.MaintenanceReqHistoryViewModel
@{
    ViewData["Title"] = "Request History";
    Layout = "~/Views/Shared/_AppUserAccountLayout.cshtml";
}

<h1>Your Request History</h1>
<br />
<partial name="_LoggedInAsPartial" />

<br />
<div class="container">
    <ul class="nav nav-tabs mp" role="tablist">
        <li class="nav-item">
            <a class="nav-link" asp-controller="appuseraccount" asp-action="maintenance">

                <div class="wrapper">


                    <div class="fp-link-content">
                        <span class="fp-group-name"> New Request </span>

                    </div>


                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#reqhistory">

                <div class="wrapper">


                    <div class="fp-link-content">
                        <span class="fp-group-name"> Request History </span>

                    </div>


                </div>
            </a>
        </li>

    </ul>


    <div class="tab-content">


        <div id="newreq" class="container tab-pane active">

            <br />
            <table class="table fp-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Date Requested</th>
                        <th scope="col">Description</th>

                    </tr>
                </thead>
                <tbody>

                    @{ foreach (var request in Model.Requests)

                        {

                            <tr>
                                <td>@request.DateRequested.ToString("MM/dd/yyyy")</td>
                                <td>@request.ProblemDescription</td>
                            </tr>
                        }

                    }



                </tbody>
            </table>



        </div>
    </div>
</div>