
<div width="100%" style="margin-top:10px;background-color: #1E90FF;font-family: Verdana;height:100px;">

    <div style="padding-top: 20px;">
        <span style=" color: white;font-size:38px;float: left;text-shadow:1px 1px black; padding-left: 15px;">
            Peach Grove Apartments

        </span>


        @if (User.Identity.IsAuthenticated)
        {


            <a style="color: white;font-size:20px;float: right;text-shadow:1px 1px black; padding-right: 15px;padding-top: 10px;" asp-controller="residentaccount" asp-action="logout">Logout</a>



        }
        else
        {
            <a style="color: white;font-size:20px;float: right;text-shadow:1px 1px black; padding-right: 15px;padding-top: 10px;" asp-controller="residentaccount" asp-action="login">Login</a>

        }

        <a style="color: white;font-size:20px;float: right;text-shadow:1px 1px black; padding-right: 15px;padding-top: 10px;" asp-controller="home" asp-action="apply">Apply</a>

        <div style="float: right;padding-top: 10px;">


            <img class="img-fluid" src="~/images/phone.jpg" style="max-width: 20px; vertical-align:middle;" />



            <div style="vertical-align: middle; display: inline; font-family: Verdana; font-size: 20px; color: white; text-shadow: 1px 1px black; padding-right: 15px;"> (555) 555-5555 </div>
        </div>





    </div>



</div>

