@using Microsoft.AspNetCore.Identity
@inject SignInManager<AptUser> SignInManager
@inject UserManager<AptUser> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="nav-header">
    <div class="top-bar">
        <nav class="navbar navbar-expand">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="tel:123-456-7890"><span class="text-white" style="font-size: 15px;"><i class="fa fa-phone text-white"></i> (412) 555-1212</span></a>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <div class="bottom-menu-bar">

        <nav class="navbar navbar-light navbar-expand-md">

            <a class="navbar-brand" asp-controller="Home" asp-action="Index">

                <img src="~/images/logo.jpg" class="img-fluid" style="min-width: 100px; height: auto;" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-nav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="applicantaccount" asp-action="index">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="applicantaccount" asp-action="applications">APPLICATIONS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="applicantaccount" asp-action="contactus">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="accountmanagement" asp-action="index">ACCOUNT SETTINGS</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="container-fluid">



    <div class="row justify-content-center py-5">

        <div class="col-md-6">
            @RenderBody()
        </div>

        <div class="col-md-3 order-2">

            <aside id="sidebar">

                <section style="width: 250px; border-bottom: 1px solid lightgray;">

                    <span style="font-weight: bold; font-size: 20px;">Your Address</span><br /><br />

                    <span><b>@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</b></span><br />
                    <span>3495 Peach Grove Blvd.</span>
                    <span>Pittsburgh, PA 15213</span>


                    <br />

                    <br />
                </section>

                <section id="contact-widget">
                    <br />
                    <br />
                    <span style="font-weight: bold; font-size: 20px;">Pet Policy</span>                      <br /><br />
                    <a href="#petPolicyModal" data-toggle="modal" data-target="#petPolicyModal">View Our Pet Policy</a>
                    <br />
                    <br />
                    <br />
                </section>


                <section id="contact-widget">

                    <br /><br />
                    <span style="font-weight: bold; font-size: 20px;">Location</span><br /><br />


                    1201 Peach Grove Blvd.<br />
                    Pittsburgh, PA 15213<br />
                    <br /><br />
                </section>
                <br />
                <br />

                <section style="width: 280px; border-bottom: 1px solid lightgray;">
                    <span style="font-weight: bold; font-size: 20px;">Offie Hours</span><br /><br />
                    Monday - Friday 9:00am to 6:00pm <br />
                    Saturday By Appointment
                    <br />
                    <br />
                    <br />

                </section>


                <br />
                <br />
                <br />
            </aside>
        </div>


    </div>
</div>

<br />

<div class="modal fade" tabindex="" id="petPolicyModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">OUR PET POLICY</h4>

                <button type="button" class="close" data-dismiss="modal">
                    X
                </button>
            </div>
            <div class="modal-body">
                <p>
                    We welcome small dogs and cats. Each animal in your apartment is subject to a one-time non-refundable fee of $250.00. We allow Dogs up to 45lbs full grown. Breed restrictions may apply Cats are permitted in any unit. We do not allow more than 2 animals in any unit. The pet rent for your furry friend(s) is as follows; All pets cats and dogs are $25.00 per month. Total combined pet weight cannot exceed 45lbs. Please call the leasing office with any questions about our pet policy. *Subject to change at any time*
                </p>
            </div>
        </div>
    </div>
</div>

@RenderSection("Scripts", required: false)


