@using AcmeApartments.Common.HelperClasses
@model IList<AcmeApartments.DAL.Models.Application>
@{
    ViewData["Title"] = "Applications";
    Layout = "~/Views/Shared/_ApplicantAccountLayout.cshtml";
}

<partial name="_LoggedInAsPartial" />
<br />
<h1>Your Applications</h1>

<hr />
<div class="container">
    @{
        if (Model.Count != 0)
        { <table class="table fp-table table-responsive-sm table-responsive-md">

                <thead class="thead-light">
                    <tr>
                        <th scope="col">Date Applied</th>
                        <th scope="col">Apartment Number</th>
                        <th scope="col">SQ Feet</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var application in Model)

                    {
                        <tr>
                            <td>@application.DateApplied.ToString("MM/dd/yyyy")</td>
                            <td>@application.AptNumber</td>
                            <td>@application.Area SF</td>
                            <td>$@application.Price</td>
                            <td>
                                @if (application.Status == ApplicationStatus.APPROVED)
                                {
                                    <span style="color: darkgreen"><i class="fa fa-check text-success"></i>Approved</span>
                                }
                                else if (application.Status == ApplicationStatus.UNAPPROVED)
                                {
                                    <span style="color: darkred"><i class="fa fa-ban"></i> Unapproved</span>
                                }
                                else if (application.Status == ApplicationStatus.CANCELED)
                                {
                                    <span style="color: darkred"><i class="fa fa-ban"></i> Canceled</span>
                                }
                                else
                                {
                                    <span><i class='fa fa-clock-o'></i> Pending Approval</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>You haven't applied for an apartment yet. Please apply today!</h4>
        }
    }
</div>