@model Peach_Grove_Apartments_Demo_Project.ViewModels.ApplicationViewModel

@{
    ViewData["Title"] = "Application Edit";
    Layout = "~/Views/Shared/_ManagerAccountLayout.cshtml";
}

<h1>Application Edit</h1>


@if (ViewBag.AppEditSuccess != null && ViewBag.AppEditSuccess)
{

    <div style="background: lightgreen; border: 1px solid green; color: black; width: 600px;text-align: center;padding: 40px;">
        <div style="display: inline-block;">
            <b>Your message was sent successfully!</b>
        </div>
    </div>
    <br />
    <br />
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ApplicationEdit" id="applicationedit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationId" class="control-label"></label>
                <input asp-for="ApplicationId" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="AptUserId" class="control-label"></label>
                <input asp-for="AptUserId" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="DateApplied" class="control-label"></label>
                <input asp-for="DateApplied" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Occupation" class="control-label"></label>
                <input asp-for="Occupation" class="form-control" />
                <span asp-validation-for="Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Income" class="control-label"></label>
                <input asp-for="Income" class="form-control" />
                <span asp-validation-for="Income" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReasonForMoving" class="control-label"></label>
                <input asp-for="ReasonForMoving" class="form-control" />
                <span asp-validation-for="ReasonForMoving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSN" class="control-label"></label>
                <input asp-for="SSN" class="form-control" />
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AptNumber" class="control-label"></label>
                <input asp-for="AptNumber" class="form-control" />
                <span asp-validation-for="AptNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="applicationuser">Back to List</a>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $('#applicationedit').on('submit', function () {
        //event.preventDefault();
        if ($('#applicationedit').valid()) {
            $('input, select').prop('disabled', false);
            return true;
        }
    });
</script>