@model IList<AptUser>

@{
    ViewData["Title"] = "Applications";
}

<partial name="_LoggedInAsPartial" />
<br />
<h1>Applicants</h1>

<hr />


<div class="container">
    @{
        if (Model.Count() != 0)
        { <table class="table fp-table">

                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)

                    {
                        <tr>
                            <td>@user.FirstName @user.LastName</td>

                            <td>
                                    <a asp-controller="manageraccount" asp-action="applicationuser" asp-route-fname="@user.FirstName" asp-route-lname="@user.LastName" class="fp-applylink">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>There are no applicants in the system right now.</h4>
        }
    }
</div>
