@{
    ViewData["Title"] = "Approve Maintenance Success";
    Layout = "~/Views/Shared/_ManagerAccountLayout.cshtml";
}
<partial name="_LoggedInAsPartial" />
<br />

<div style="background: lightgreen; border: 1px solid green; color: white; width: 600px;text-align: center;padding: 40px;">
    <div style="display: inline-block;">
        <b>The maintenance request was approved successfully!</b>
    </div>
</div>




