@model PeachGroveApartments.ApplicationLayer.ViewModels.ApplicationViewModel

@{
    ViewData["Title"] = "Application Edit";
    Layout = "~/Views/Shared/_ManagerAccountLayout.cshtml";
    ViewBag.Success = "The application was edited successfully!";
}

<h1>Application Edit</h1>

@{

    if (ViewBag.AppEditSuccess != null && ViewBag.AppEditSuccess)
    {

        <partial name="_ViewsStatusMessage" model="ViewBag.Success" />

    }

}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditApplication" id="editapplication">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(x => x.Status)
            <div class="form-group">
                <label asp-for="ApplicationId" class="control-label"></label>
                <input asp-for="ApplicationId" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="AptUserId" class="control-label"></label>
                <input asp-for="AptUserId" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="DateApplied" class="control-label"></label>
                <input asp-for="DateApplied" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Occupation" class="control-label"></label>
                <input asp-for="Occupation" class="form-control" />
                <span asp-validation-for="Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Income" class="control-label"></label>
                <input asp-for="Income" class="form-control" />
                <span asp-validation-for="Income" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReasonForMoving" class="control-label"></label>
                <input asp-for="ReasonForMoving" class="form-control" />
                <span asp-validation-for="ReasonForMoving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSN" class="control-label"></label>
                <input asp-for="SSN" class="form-control" />
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AptNumber" class="control-label"></label>
                <input asp-for="AptNumber" class="form-control" />
                <span asp-validation-for="AptNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="showapplications" asp-route-userid="@Model.AptUserId">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $('#editapplication').on('submit', function () {
        //event.preventDefault();
        if ($('#editapplication').valid()) {
            $('input, select').prop('disabled', false);
            return true;
        }
    });
</script>