@model Peach_Grove_Apartments_Demo_Project.ViewModels.MaintenanceRequestViewModel

@{
    ViewData["Title"] = "Maintenance Edit";
    Layout = "~/Views/Shared/_ManagerAccountLayout.cshtml";
    ViewBag.Success = "It was edited successfully!";
}

@if (ViewBag.MaintenanceEditSuccess != null && ViewBag.MaintenanceEditSuccess)
{

    <partial name="_ViewsStatusMessage" model="ViewBag.Success" />

    @*<div class="alert alert-success alert-dismissible" role="alert" style="max-width: 500px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        It was edited successfully!
    </div>*@

    @*<div style="background: lightgreen; border: 1px solid green; color: black; max-width: 600px;text-align: center;padding: 40px;">
            <div style="display: inline-block;">
                <b>It was edited successfully!</b>
            </div>
        </div>
        <br />
        <br />*@
}

<h1>Maintenace Edit</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="maintenanceedit" id="maintenance-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="control-label" disabled />
            </div>
            <div class="form-group">
                <label asp-for="AptUserId" class="control-label"></label>
                <input asp-for="AptUserId" class="control-label" disabled />
            </div>
            <div class="form-group">
                <label asp-for="ProblemDescription" class="control-label"></label>
                <textarea asp-for="ProblemDescription" class="form-control" maxlength="10000" required></textarea>
                <span asp-validation-for="ProblemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <input asp-for="isAllowedToEnter" class="control-label" />
                    <label asp-for="isAllowedToEnter" class="control-label"></label>
                    <span asp-validation-for="isAllowedToEnter" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="maintenanceuser">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $('#maintenance-edit').on('submit', function () {
        //event.preventDefault();
        if ($('#applicationedit').valid()) {
            $('input, select').prop('disabled', false);
            return true;
        }
    });
</script>