@{
    ViewData["Title"] = "Approve Application Success";
    Layout = "~/Views/Shared/_ManagerAccountLayout.cshtml";
}
<partial name="_LoggedInAsPartial" />
<br />

<div style="background: lightgreen; border: 1px solid green; color: black; width: 600px;text-align: center;padding: 40px;">
    <div style="display: inline-block;">
        <b>The Application was unapproved!</b>
    </div>
</div>

