@model MaintenanceRequestViewModel;

@{
    ViewData["Title"] = "Maintenance Edit";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    ViewBag.Success = "It was edited successfully!";
}

<h1>Maintenace Edit</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="editmaintenancerequest" id="maintenance-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="control-label" value="@Model.Id" disabled />
            </div>
            <div class="form-group">
                <label asp-for="AptUserId" class="control-label"></label>
                <input asp-for="AptUserId" class="control-label" value="@Model.AptUserId" disabled />
            </div>
            <div class="form-group">
                <label asp-for="ProblemDescription" class="control-label"></label>
                <textarea asp-for="ProblemDescription" class="form-control" maxlength="10000" required></textarea>
                <span asp-validation-for="ProblemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <input asp-for="isAllowedToEnter" class="control-label" />
                    <label asp-for="isAllowedToEnter" class="control-label"></label>
                    <span asp-validation-for="isAllowedToEnter" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="showmaintenancerequests" asp-route-aptuserid=@Model.AptUserId>Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $('#maintenance-edit').on('submit', function () {
        if ($('#maintenance-edit').valid()) {
            $('input, select').prop('disabled', false);
            return true;
        }
    });
</script>