@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

@model MaintenanceRequestViewModel

@{
    ViewBag.Title = "Maintenance Scheduler";
}
<partial name="_LoggedInAsPartial" />

<h2>Maintenance Scheduler</h2>
<div id="calendar"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Request Title:</label>
            <input type="text" class="form-control" id="request-title">
          </div>
            <div class="form-group">
            <label for="message-text" class="col-form-label">Request Description:</label>
            <textarea class="form-control" id="request-description"></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Request Notes:</label>
            <textarea class="form-control" id="request-notes"></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Start Time:</label>
            <textarea class="form-control" id="request-start-time"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

<link href="~/lib/fullcalendar/main.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.print.min.css" rel="stylesheet" media="print"/>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/lib/fullcalendar/main.min.js"></script>

    <script>
        $(document).ready(function () {
        
        var request = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));

        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            initialDate: '2022-05-12',
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            selectMirror: true,
            select: function () {
                 $('#myModal #eventTitle').text(request.AptUserId);
                 $('#myModal #pDetails').text(request.ProblemDescription);
                 $('#myModal').modal();
                calendar.unselect();
            },
            eventClick: function (calEvent, jsEvent, view) {
                $('#myModal #eventTitle').text(calEvent.event.title);
                var $description = $('<div/>');
                $description.append($('<p/>').html('<b>Start:</b>' + calEvent.event.start));
                if (calEvent.event.end != null) {
                    $description.append($('<p/>').html('<b>End:</b>' + calEvent.event.end));
                }
                $description.append($('<p/>').html('<b>Description:</b>' + calEvent.event.description));
                $('#myModal #pDetails').empty().html($description);

                $('#myModal').modal();
                                    

            },
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: [
                {
                    title: 'All Day Event',
                    start: '2022-05-01'
                },
                {
                    title: 'Long Event',
                    start: '2022-05-07',
                    end: '2022-05-10'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2022-05-09T16:00:00'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2022-05-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2022-05-11',
                    end: '2022-05-13'
                },
                {
                    title: 'Meeting',
                    start: '2022-05-12T10:30:00',
                    end: '2022-05-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2022-05-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2022-05-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2022-05-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2022-05-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2022-05-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2022-05-28'
                }
            ]
        });

        calendar.render();
});
    </script>
}
