@{
    ViewData["Title"] = "Home";

}

<div style="text-align: center;">
    <img class="img-fluid" id="image-over" style="max-height:326px; max-width: 800px;" src="~/images/apthome2.jpg" />
    <br />
    <br />
    <div class="welcome-title-divider">
    </div>
    <br />
</div>


    <div style="text-align: center"><a asp-action="showfloorplans" class="btn btn-primary" role="button">Apply Now</a></div>
