@{
    ViewData["Title"] = "Home";

}

<div style="text-align: center;">
    <img class="img-fluid" id="image-over" style="max-height:326px; max-width: 800px;" src="~/images/apthome2.jpg" />
    <br />
    <br />
    <div class="welcome-title-divider">
    </div>
    <br />
</div>

<div>

    <div class="col-md-12">
        <p style="text-align:justify;">
            Acme Apartments is one of Pittsburgh's most cherished apartment communities. Enjoy an exciting and convenient shopping experience, all within walking distance. The PA turnpike, public transportation, and hospitals are within arm’s reach. Our apartment units have all been renovated with top-of-the-line appliances. With an upgraded fridge, stove and microwave, you’ll enjoy cooking up culinary masterpieces. We have amenities worth writing home about. Enjoy a smoke free environment, a fully equipped fitness center, a large swimming pool, a social room, a technology room equipped with a computer and a printer, and a charming library. We make high rise living a treat to remember. Apply today!
        </p>
    </div>
    <br />
    <div style="text-align: center"><a asp-action="showfloorplans" class="btn btn-primary" role="button">Apply Now</a></div>
</div>