@{
    ViewData["Title"] = "ShowApplicationAlreadyExistsError";
    Layout = "~/Views/Shared/_HomeControllerLayout.cshtml";
}

@if (ViewBag.ApplicationFoundError != null && ViewBag.ApplicationFoundError)
{
    <div class="alert alert-danger alert-dismissible" role="alert" style="margin: 0 auto;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
        You already applied for this apartment.
    </div>
}