@{
    ViewData["Title"] = "Amenities";

}

@{
    //todo-p: make amenities list more resposive for mobile

}

<h1>Amenities</h1>
<br />
<br />
<h3>Community Amenities</h3>
<hr />

<div class="container">
    <div class="row py-0">
        <div class="col-md-4 col-sm-6 py-0">
            <ul>
                <li><a href="#garageModal" data-toggle="modal" data-target="#garageModal">Garage Parking</a></li>
                <li>Dog Park</li>
                <li> 24-Hour Emergency Maintenance</li>
                <li> Conveniently Located to nearby stores and Pittsburgh Metro Area</li>
                <li> Fitness Center <a href="#fitCenterModal" data-toggle="modal" data-target="#fitCenterModal"><i class="fa fa-camera"></i></a></li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-6 py-0">
            <ul>
                <li> Indoor, Heated Swimming Pool</li>
                <li> Laundry Facilities on Each Floor</li>
                <li>On-site Maintenance</li>
                <li> On-Site Management Team</li>
                <li>  Picnic Area with Grills</li>
                <li>Sundeck</li>
            </ul>
        </div>
    </div>
</div>
<br />
<br />
<h3>Apartment Amenities</h3>
<hr />
<p>Certain floor plans may have different amenities depending on when they were updated, what building they're in, etc. To tour our floor plans and see what amenities may be available, please call us at (412) 555-1212.</p>

<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-6">
            <ul>

                <li>Additional Storage Available for Rent</li>
                <li>Air Conditioner</li>
                <li>Ample Closet Space</li>
                <li>Balcony</li>
                <li>Dish Washer </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-6">
            <ul>

                <li>Private Balcony or Patio</li>
                <li>Refrigerator</li>
                <li>Resident Library</li>
                <li>Window Coverings Provided</li>
                <li>Wired for Comcast and Verizon Fios</li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="" id="garageModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">PARKING POLICY</h4>

                <button type="button" class="close" data-dismiss="modal">
                    X
                </button>
            </div>
            <div class="modal-body">
                <p>
                    We offer free outdoor parking to our residents. Garage parking is optional for an extra monthly rate. Guests can park in guest parking going up Peach Grove Blvd.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="" id="fitCenterModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">FITNESS CENTER</h4>

                <button type="button" class="close" data-dismiss="modal">
                    X
                </button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="~/images/fitnesscenter.jpg" alt="fitnesscenter" style="max-width: 100%; height: auto;" />
            </div>
        </div>
    </div>
</div>