@{


    ViewData["Title"] = "FloorPlans";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var redirectLink = User.Identity.IsAuthenticated ? Url.Action("apply", "home") : Url.Action("identity", "account/login");

    //var redirectLink = User.Identity.IsAuthenticated ? @Html.ActionLink("Apply Now!", "apply", "home") : @Html.ActionLink("Apply Now!", "account/login", "identity"); <a asp-controller="Home" asp-action="apply">Apply Now!</a>">Apply Now!</a>

}

<h1>Our Floor Plans</h1>

<br />
<div class="container">
    <ul class="nav nav-tabs fp" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#studio">

                <div class="wrapper">


                    <div class="fp-link-content">
                        <span class="fp-group-name"> Studio </span>

                    </div>


                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#1bed">


                <div class="wrapper">
                    <div class="fp-link-content">
                        <span class="fp-group-name"> 1 Bed </span>

                    </div>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#2bed">

                <div class="wrapper">
                    <div class="fp-link-content">
                        <span class="fp-group-name"> 2 Bed </span>

                    </div>
                </div>
            </a>
        </li>
    </ul>


    <div class="tab-content">


        <div id="studio" class="container tab-pane active">
            <br>
            <h3>Studio Floor Plan</h3>

            <br />
            <img style="margin-left: 100px;" src="~/images/studiofp.jpg" alt="Studio Floor Plan" />
            <br />
            <br />
            <h3>Availability</h3>
            <br />
            <table class="table fp-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Apartment Number</th>
                        <th scope="col">Date Available</th>
                        <th scope="col">SF</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5432-315</td>
                        <td>December 3, 2020</td>
                        <td>750 SF</td>
                        <td>$750</td>
                        <td><div class="fp-applylink">@{ if (User.Identity.IsAuthenticated)
                            { <a asp-controller="home" asp-action="apply" asp-route-roomnum="5432-315" asp-route-price="750">Apply Now!</a>}
                            else
                            { <a asp-area="Identity" asp-page="/Account/Login" >Apply Now!</a>} }</div></td>
                    </tr>
                    <tr>
                        <td>5432-720</td>
                        <td>January 19, 2021</td>
                        <td>750 SF</td>
                        <td>$750</td>

                        <td><div class="fp-applylink">@{ if (User.Identity.IsAuthenticated)
                            { <a asp-controller="home" asp-action="apply">Apply Now!</a>}
                            else
                            { <a asp-area="Identity" asp-page="/Account/Login" asp-route-roomnum="5432-720" asp-route-price="750">Apply Now!</a>} }</div></td>
                    </tr>
                    <tr>
                        <td>5433-403</td>
                        <td>November 12, 2020</td>
                        <td>750 SF</td>
                        <td>$750</td>
                        <td><div class="fp-applylink">@{ if (User.Identity.IsAuthenticated)
                            { <a asp-controller="home" asp-action="apply">Apply Now!</a>}
                            else
                            { <a asp-area="Identity" asp-page="/Account/Login" asp-route-roomnum="5433-403" asp-route-price="750">Apply Now!</a>} }</div></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div id="1bed" class="container tab-pane fade">
            <br>
            <h3>1 Bed/1 Bath Floor Plan</h3>

            <br />
            <img style="margin-left: 100px;" src="~/images/1bedfp.jpg" alt="Studio Floor Plan" />
            <br />
            <br />
            <h3>Availability</h3>
            <br />
            <table class="table fp-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Apartment Number</th>
                        <th scope="col">Date Available</th>
                        <th scope="col">SF</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5432-210</td>
                        <td>December 10, 2020</td>
                        <td>1,050 SF</td>
                        <td>$1,150</td>
                        <td><div class="fp-applylink">@{ if (User.Identity.IsAuthenticated)
                            { <a asp-controller="home" asp-action="apply">Apply Now!</a>}
                            else
                            { <a asp-area="Identity" asp-page="/Account/Login" asp-route-roomnum="5432-210" asp-route-price="1,150">Apply Now!</a>} }</div></td>
                    </tr>
                    <tr>
                        <td>5432-319</td>
                        <td>January 21, 2021</td>
                        <td>1,050 SF</td>
                        <td>$1,150</td>
                        <td><div class="fp-applylink">@{ if (User.Identity.IsAuthenticated)
                            { <a asp-controller="home" asp-action="apply">Apply Now!</a>}
                            else
                            { <a asp-area="Identity" asp-page="/Account/Login" asp-route-roomnum="5432-319" asp-route-price="1,150">Apply Now!</a>} }</div></td>
                    </tr>
                    <tr>
                        <td>5433-819</td>
                        <td>November 10, 2020</td>
                        <td>1,050 SF</td>
                        <td>$1,150</td>
                        <td><div class="fp-applylink">@{ if (User.Identity.IsAuthenticated)
                            { <a asp-controller="home" asp-action="apply">Apply Now!</a>}
                            else
                            { <a asp-area="Identity" asp-page="/Account/Login" asp-route-roomnum="5433-819" asp-route-price="1,150">Apply Now!</a>} }</div></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div id="2bed" class="container tab-pane fade">
            <br>
            <h3>2 Bed/2 Bath Floor Plan</h3>

            <br />
            <img style="margin-left: 100px;" src="~/images/2bedfp.jpg" alt="Studio Floor Plan" />
            <br />
            <br />
            <h3>Availability</h3>
            <br />
            <table class="table fp-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Apartment Number</th>
                        <th scope="col">Date Available</th>
                        <th scope="col">SF</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5432-300</td>
                        <td>December 30, 2020</td>
                        <td>2,000 SF</td>
                        <td>$1,300</td>
                        <td><div class="fp-applylink">@{ if (User.Identity.IsAuthenticated)
                            { <a asp-controller="home" asp-action="apply">Apply Now!</a>}
                            else
                            { <a asp-area="Identity" asp-page="/Account/Login" asp-route-roomnum="5432-300" asp-route-price="1,300">Apply Now!</a>} }</div></td>
                    </tr>
                    <tr>
                        <td>5432-623</td>
                        <td>January 01, 2021</td>
                        <td>2,000 SF</td>
                        <td>$1,300</td>
                        <td><div class="fp-applylink">@{ if (User.Identity.IsAuthenticated)
                            { <a asp-controller="home" asp-action="apply">Apply Now!</a>}
                            else
                            { <a asp-area="Identity" asp-page="/Account/Login" asp-route-roomnum="5432-623" asp-route-price="1,300">Apply Now!</a>} }</div></td>
                    </tr>
                    <tr>
                        <td>5433-411</td>
                        <td>November 4, 2020</td>
                        <td>2,000 SF</td>
                        <td>$1,300</td>
                        <td><div class="fp-applylink">@{ if (User.Identity.IsAuthenticated)
                            { <a asp-controller="home" asp-action="apply">Apply Now!</a>}
                            else
                            { <a asp-area="Identity" asp-page="/Account/Login" asp-route-roomnum="5432-411" asp-route-price="1,300">Apply Now!</a>} }</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
