
@{
    ViewData["Title"] = "FloorPlans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Our Floor Plans</h1>


@*<div id="floorplan-overview-content" class="fp-overview standard tabs">

        <ul class="fp-tab-list tab-list" data-ui="tab-list" role="tablist">
            <li class="fp-tab-item tab-item" role="presentation">
                <a id="fp-tab-0" class="fp-tab-link tab-link active" href="#floorplans-0" data-ui="tab" role="tab" aria-controls="floorplans-0">
                    <span class="fp-group-name"> Studio </span>
                    <span class="fp-group-count">2</span>
                </a>
            </li>
            <li class="fp-tab-item tab-item" role="presentation">
                <a id="fp-tab-1" class="fp-tab-link tab-link" href="#floorplans-1" data-ui="tab" role="tab" aria-controls="floorplans-1">
                    <span class="fp-group-name"> 1 Bed </span>
                    <span class="fp-group-count">1</span>
                </a>
            </li>
            <li class="fp-tab-item tab-item" role="presentation">
                <a id="fp-tab-2" class="fp-tab-link tab-link" href="#floorplans-2" data-ui="tab" role="tab" aria-controls="floorplans-2">
                    <span class="fp-group-name"> 2 Bed </span>
                    <span class="fp-group-count">3</span>
                </a>
            </li>
        </ul>
        <ul id="floorplans-0" class="fp-group-list" role="grid">
            <li class="fp-group-item" role="row">
                <div class="fp-row col-5">
                    <div class="fp-col fp-image image"><div class="image-container popover-holder js-popover"><a class="image-link" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/efficiency-939318/is-premium-view/1/tab/0/" aria-haspopup="true"><img src="https://commoncdn.entrata.com/images/thumbNailer.php?src=/media_library/16706/5e5434680ca051.86579864100.jpg&amp;w=100&amp;h=75" alt="Studio"></a><div class="popover white"><img src="https://medialibrarycdn.entrata.com/media_library/16706/5e5434680ca051.86579864100.jpg" alt="Studio"><div class="popover-arrow"></div></div></div></div><h4 class="fp-name"><a class="fp-name-link" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/efficiency-939318/is-premium-view/1/tab/0/" title="View More Information">Efficiency</a></h4><div class="fp-col-wrapper">
                        <div class="fp-col bed-bath"><span class="fp-col-title">Beds / Baths</span><span class="fp-col-text">Studio&nbsp;/ 1<span class="small-abbr">ba</span></span></div><div class="fp-col rent" style="flex: 0 0 20%"><span class="fp-col-title">Rent</span><div class="fp-col-text">$790</div></div><div class="fp-col sq-feet"><span class="fp-col-title">Sq. Ft</span><span class="fp-col-text">596</span></div><div class="fp-col action">
                            <a class="primary-action" href="https://www.brentmoorpenncenter.com/?module=check_availability&amp;is_secure=1&amp;property[id]=990566&amp;property_floorplan[id]=939318&amp;move_in_date=2020-12-31&amp;occupancy_type=conventional&amp;unit_count=1" data-modal="open" data-class="check-availability" data-title="Check Floor Plan Availability" data-tracking="{
    &quot;category&quot;	:&quot;Micro-Conversion&quot;,
    &quot;action&quot;   	: &quot;View Floor Plan&quot;,
    &quot;label&quot;		: &quot;See Available Units&quot;
    }" aria-haspopup="true">Only One Left!</a><a class="secondary-action" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/efficiency-939318/is-premium-view/1/tab/0/conventional/?occupancy_type=conventional" title="View More Information" role="button">Details<i class="icon" data-app-icon="n" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="fp-group-item" role="row">
                <div class="fp-row col-5">
                    <div class="fp-col fp-image image"><div class="image-container popover-holder js-popover"><a class="image-link" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/studio-939320/is-premium-view/1/tab/0/" aria-haspopup="true"><img src="https://commoncdn.entrata.com/images/thumbNailer.php?src=/media_library/16706/5e5434fc591e65.31425713633.jpg&amp;w=100&amp;h=75" alt="Studio"></a><div class="popover white"><img src="https://medialibrarycdn.entrata.com/media_library/16706/5e5434fc591e65.31425713633.jpg" alt="Studio"><div class="popover-arrow"></div></div></div></div><h4 class="fp-name"><a class="fp-name-link" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/studio-939320/is-premium-view/1/tab/0/" title="View More Information">Studio</a></h4><div class="fp-col-wrapper">
                        <div class="fp-col bed-bath"><span class="fp-col-title">Beds / Baths</span><span class="fp-col-text">Studio&nbsp;/ 1<span class="small-abbr">ba</span></span></div><div class="fp-col rent" style="flex: 0 0 20%"><span class="fp-col-title">Rent</span><div class="fp-col-text">$825</div></div><div class="fp-col sq-feet"><span class="fp-col-title">Sq. Ft</span><span class="fp-col-text">624</span></div><div class="fp-col action">
                            <a class="primary-action" href="https://www.brentmoorpenncenter.com/?module=check_availability&amp;is_secure=1&amp;property[id]=990566&amp;property_floorplan[id]=939320&amp;move_in_date=2020-12-31&amp;occupancy_type=conventional&amp;unit_count=1" data-modal="open" data-class="check-availability" data-title="Check Floor Plan Availability" data-tracking="{
    &quot;category&quot;	:&quot;Micro-Conversion&quot;,
    &quot;action&quot;   	: &quot;View Floor Plan&quot;,
    &quot;label&quot;		: &quot;See Available Units&quot;
    }" aria-haspopup="true">Only One Left!</a><a class="secondary-action" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/studio-939320/is-premium-view/1/tab/0/conventional/?occupancy_type=conventional" title="View More Information" role="button">Details<i class="icon" data-app-icon="n" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul id="floorplans-1" class="fp-group-list" role="grid">
            <li class="fp-group-item" role="row">
                <div class="fp-row col-5">
                    <div class="fp-col fp-image image"><div class="image-container popover-holder js-popover"><a class="image-link" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/1-bedroom-1-bath-939322/is-premium-view/1/tab/1/" aria-haspopup="true"><img src="https://commoncdn.entrata.com/images/thumbNailer.php?src=/media_library/16706/5e5435683a49e7.29670043273.jpg&amp;w=100&amp;h=75" alt="1 Bedroom Floor Plan"></a><div class="popover white"><img src="https://medialibrarycdn.entrata.com/media_library/16706/5e5435683a49e7.29670043273.jpg" alt="1 Bedroom Floor Plan"><div class="popover-arrow"></div></div></div></div><h4 class="fp-name"><a class="fp-name-link" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/1-bedroom-1-bath-939322/is-premium-view/1/tab/1/" title="View More Information">1 Bedroom - 1 Bath</a></h4><div class="fp-col-wrapper">
                        <div class="fp-col bed-bath"><span class="fp-col-title">Beds / Baths</span><span class="fp-col-text">1<span class="small-abbr">bd</span>&nbsp;/ 1<span class="small-abbr">ba</span></span></div><div class="fp-col rent" style="flex: 0 0 20%"><span class="fp-col-title">Rent</span><div class="fp-col-text"><span class="small-text">Starting from  </span>$850</div></div><div class="fp-col sq-feet"><span class="fp-col-title">Sq. Ft</span><span class="fp-col-text">864</span></div><div class="fp-col action">
                            <a class="primary-action" href="https://www.brentmoorpenncenter.com/?module=check_availability&amp;is_secure=1&amp;property[id]=990566&amp;property_floorplan[id]=939322&amp;move_in_date=2020-12-31&amp;occupancy_type=conventional&amp;unit_count=3" data-modal="open" data-class="check-availability" data-title="Check Floor Plan Availability" data-tracking="{
    &quot;category&quot;	:&quot;Micro-Conversion&quot;,
    &quot;action&quot;   	: &quot;View Floor Plan&quot;,
    &quot;label&quot;		: &quot;See Available Units&quot;
    }" aria-haspopup="true"><strong>3</strong> Available</a><a class="secondary-action" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/1-bedroom-1-bath-939322/is-premium-view/1/tab/1/conventional/?occupancy_type=conventional" title="View More Information" role="button">Details<i class="icon" data-app-icon="n" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul id="floorplans-2" class="fp-group-list" role="grid">
            <li class="fp-group-item" role="row">
                <div class="fp-row col-5">
                    <div class="fp-col fp-image image"><div class="image-container popover-holder js-popover"><a class="image-link" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/2-bedroom-1-bath-939326/is-premium-view/1/tab/2/" aria-haspopup="true"><img src="https://commoncdn.entrata.com/images/thumbNailer.php?src=/media_library/16706/5e54361337ac00.93357658306.jpg&amp;w=100&amp;h=75" alt="2 Bedroom Floor Plan"></a><div class="popover white"><img src="https://medialibrarycdn.entrata.com/media_library/16706/5e54361337ac00.93357658306.jpg" alt="2 Bedroom Floor Plan"><div class="popover-arrow"></div></div></div></div><h4 class="fp-name"><a class="fp-name-link" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/2-bedroom-1-bath-939326/is-premium-view/1/tab/2/" title="View More Information">2 Bedroom - 1 Bath</a></h4><div class="fp-col-wrapper">
                        <div class="fp-col bed-bath"><span class="fp-col-title">Beds / Baths</span><span class="fp-col-text">2<span class="small-abbr">bd</span>&nbsp;/ 1<span class="small-abbr">ba</span></span></div><div class="fp-col rent" style="flex: 0 0 20%"><span class="fp-col-title">Rent</span><div class="fp-col-text">—</div></div><div class="fp-col sq-feet"><span class="fp-col-title">Sq. Ft</span><span class="fp-col-text">1,104</span></div><div class="fp-col action">
                            <a class="primary-action" href="https://www.brentmoorpenncenter.com/?module=check_availability&amp;is_secure=1&amp;property[id]=990566&amp;action=view_unit_spaces&amp;property_floorplan[id]=939326&amp;is_availability_alert=true&amp;guest_card_url=is_availability_alert/1/lightwindow/1/property_floorplan[id]/939326" data-modal="open" data-class="availability-alert" data-title="Set Availability Alert" data-tracking="{
    &quot;category&quot;	:&quot;Micro-Conversion&quot;,
    &quot;action&quot;   	: &quot;View Floor Plan&quot;,
    &quot;label&quot;		: &quot;Alert Launch Form&quot;
    }" aria-haspopup="true">Get Notified</a><a class="secondary-action" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/2-bedroom-1-bath-939326/is-premium-view/1/tab/2/conventional/?occupancy_type=conventional" title="View More Information" role="button">Details<i class="icon" data-app-icon="n" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="fp-group-item" role="row">
                <div class="fp-row col-5">
                    <div class="fp-col fp-image image"><div class="image-container popover-holder js-popover"><a class="image-link" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/2-bedroom-2-bath-939328/is-premium-view/1/tab/2/" aria-haspopup="true"><img src="https://commoncdn.entrata.com/images/thumbNailer.php?src=/media_library/16706/5e5436459a2ff3.65860727824.jpg&amp;w=100&amp;h=75" alt="2 Bedroom Floor Plan"></a><div class="popover white"><img src="https://medialibrarycdn.entrata.com/media_library/16706/5e5436459a2ff3.65860727824.jpg" alt="2 Bedroom Floor Plan"><div class="popover-arrow"></div></div></div></div><h4 class="fp-name"><a class="fp-name-link" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/2-bedroom-2-bath-939328/is-premium-view/1/tab/2/" title="View More Information">2 Bedroom - 2 Bath</a></h4><div class="fp-col-wrapper">
                        <div class="fp-col bed-bath"><span class="fp-col-title">Beds / Baths</span><span class="fp-col-text">2<span class="small-abbr">bd</span>&nbsp;/ 2<span class="small-abbr">ba</span></span></div><div class="fp-col rent" style="flex: 0 0 20%"><span class="fp-col-title">Rent</span><div class="fp-col-text"><span class="small-text">Starting from  </span>$1,250</div></div><div class="fp-col sq-feet"><span class="fp-col-title">Sq. Ft</span><span class="fp-col-text">1,179<span class="plus-symbol">+</span></span></div><div class="fp-col action">
                            <a class="primary-action" href="https://www.brentmoorpenncenter.com/?module=check_availability&amp;is_secure=1&amp;property[id]=990566&amp;property_floorplan[id]=939328&amp;move_in_date=2020-12-31&amp;occupancy_type=conventional&amp;unit_count=3" data-modal="open" data-class="check-availability" data-title="Check Floor Plan Availability" data-tracking="{
    &quot;category&quot;	:&quot;Micro-Conversion&quot;,
    &quot;action&quot;   	: &quot;View Floor Plan&quot;,
    &quot;label&quot;		: &quot;See Available Units&quot;
    }" aria-haspopup="true"><strong>3</strong> Available</a><a class="secondary-action" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/2-bedroom-2-bath-939328/is-premium-view/1/tab/2/conventional/?occupancy_type=conventional" title="View More Information" role="button">Details<i class="icon" data-app-icon="n" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="fp-group-item" role="row">
                <div class="fp-row col-5">
                    <div class="fp-col fp-image image"><div class="image-container popover-holder js-popover"><a class="image-link" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/penthouse-939330/is-premium-view/1/tab/2/" aria-haspopup="true"><img src="https://commoncdn.entrata.com/images/thumbNailer.php?src=/media_library/16706/5e54366e5b6b88.86326750161.jpg&amp;w=100&amp;h=75" alt="Penthouse"></a><div class="popover white"><img src="https://medialibrarycdn.entrata.com/media_library/16706/5e54366e5b6b88.86326750161.jpg" alt="Penthouse"><div class="popover-arrow"></div></div></div></div><h4 class="fp-name"><a class="fp-name-link" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/penthouse-939330/is-premium-view/1/tab/2/" title="View More Information">Penthouse</a></h4><div class="fp-col-wrapper">
                        <div class="fp-col bed-bath"><span class="fp-col-title">Beds / Baths</span><span class="fp-col-text">2<span class="small-abbr">bd</span>&nbsp;/ 2<span class="small-abbr">ba</span></span></div><div class="fp-col rent" style="flex: 0 0 20%"><span class="fp-col-title">Rent</span><div class="fp-col-text">—</div></div><div class="fp-col sq-feet"><span class="fp-col-title">Sq. Ft</span><span class="fp-col-text">1,782</span></div><div class="fp-col action">
                            <a class="primary-action" href="https://www.brentmoorpenncenter.com/?module=check_availability&amp;is_secure=1&amp;property[id]=990566&amp;action=view_unit_spaces&amp;property_floorplan[id]=939330&amp;is_availability_alert=true&amp;guest_card_url=is_availability_alert/1/lightwindow/1/property_floorplan[id]/939330" data-modal="open" data-class="availability-alert" data-title="Set Availability Alert" data-tracking="{
    &quot;category&quot;	:&quot;Micro-Conversion&quot;,
    &quot;action&quot;   	: &quot;View Floor Plan&quot;,
    &quot;label&quot;		: &quot;Alert Launch Form&quot;
    }" aria-haspopup="true">Get Notified</a><a class="secondary-action" href="https://www.brentmoorpenncenter.com/pittsburgh/brentmoor-at-penn-center/floorplans/penthouse-939330/is-premium-view/1/tab/2/conventional/?occupancy_type=conventional" title="View More Information" role="button">Details<i class="icon" data-app-icon="n" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>*@
<br />
<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#studio">

                <div class="wrapper">


                    <div class="fp-link-content">
                        <span class="fp-group-name"> Studio </span>

                    </div>


                </div>



            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#1bed">


                <div class="wrapper">
                    <div class="fp-link-content">
                        <span class="fp-group-name"> 1 Bed </span>

                    </div>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#2bed">

                <div class="wrapper">
                    <div class="fp-link-content">
                        <span class="fp-group-name"> 2 Bed </span>

                    </div>
                </div>
            </a>
        </li>
    </ul>


    <div class="tab-content">


        <div id="studio" class="container tab-pane active">
            <br>
            <h3>Studio Floor Plan</h3>

            <br />
            <img style="margin-left: 100px;" src="~/images/studiofp.jpg" alt="Studio Floor Plan" />
            <br />
            <br />
            <h3>Availability</h3>
            <br />
            <table class="table fp-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Apartment Number</th>
                        <th scope="col">Date Available</th>
                        <th scope="col">SF</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5432-315</td>
                        <td>December 3, 2020</td>
                        <td>750 SF</td>
                        <td>$750</td>
                        <td><div class="fp-applylink"><a href="#">Apply Now!</a></div></td>
                    </tr>
                    <tr>
                        <td>5432-720</td>
                        <td>January 19, 2021</td>
                        <td>750 SF</td>
                        <td>$750</td>

                        <td><div class="fp-applylink"><a href="#">Apply Now!</a></div></td>
                    </tr>
                    <tr>
                        <td>5433-403</td>
                        <td>November 12, 2020</td>
                        <td>750 SF</td>
                        <td>$750</td>
                        <td><div class="fp-applylink"><a href="#">Apply Now!</a></div></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div id="1bed" class="container tab-pane fade">
            <br>
            <h3>1 Bed/1 Bath Floor Plan</h3>

            <br />
            <img style="margin-left: 100px;" src="~/images/1bedfp.jpg" alt="Studio Floor Plan" />
            <br />
            <br />
            <h3>Availability</h3>
            <br />
            <table class="table fp-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Apartment Number</th>
                        <th scope="col">Date Available</th>
                        <th scope="col">SF</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5432-210</td>
                        <td>December 10, 2020</td>
                        <td>1,050 SF</td>
                        <td>$1,150</td>
                        <td><div class="fp-applylink"><a href="#">Apply Now!</a></div></td>
                    </tr>
                    <tr>
                        <td>5432-319</td>
                        <td>January 21, 2021</td>
                        <td>1,050 SF</td>
                        <td>$1,150</td>
                        <td><div class="fp-applylink"><a href="#">Apply Now!</a></div></td>
                    </tr>
                    <tr>
                        <td>5433-819</td>
                        <td>November 10, 2020</td>
                        <td>1,050 SF</td>
                        <td>$1,150</td>
                        <td><div class="fp-applylink"><a href="#">Apply Now!</a></div></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div id="2bed" class="container tab-pane fade">
            <br>
            <h3>2 Bed/2 Bath Floor Plan</h3>

            <br />
            <img style="margin-left: 100px;" src="~/images/2bedfp.jpg" alt="Studio Floor Plan" />
            <br />
            <br />
            <h3>Availability</h3>
            <br />
            <table class="table fp-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Apartment Number</th>
                        <th scope="col">Date Available</th>
                        <th scope="col">SF</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5432-300</td>
                        <td>December 30, 2020</td>
                        <td>2,000 SF</td>
                        <td>$1,300</td>
                        <td><div class="fp-applylink"><a href="#">Apply Now!</a></div></td>
                    </tr>
                    <tr>
                        <td>5432-623</td>
                        <td>January 01, 2021</td>
                        <td>2,000 SF</td>
                        <td>$1,300</td>
                        <td><div class="fp-applylink"><a href="#">Apply Now!</a></div></td>
                    </tr>
                    <tr>
                        <td>5433-411</td>
                        <td>November 4, 2020</td>
                        <td>2,000 SF</td>
                        <td>$1,300</td>
                        <td><div class="fp-applylink"><a href="#">Apply Now!</a></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>



