@{
    ViewData["Title"] = "Home Page";
}

<partial name="_TopNavStatic" />
<div class="index-main-div text-center">
    <div style="padding-top: 200px; padding-bottom:10px; font-size: 50px; text-align: center;font-family: Impact; color: white; text-shadow: 2px 2px black;">Contemporary Living at its Finest!</div>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Gallery", "Home")'">Picture Gallery</button>
</div>



