@{
    ViewData["Title"] = "Home Page";


}

<div id="holder">
    <img id="image-over" src="~/images/apthome2.jpg" />
    <p id="text">
       Luxury Living at its Finest
    </p>
</div>

<br />
<div class="welcome-title-divider">

</div>


<br />

<div>
    <p style="text-align:center; font-size: 18px;">
        Peach Grove Apartments is one of Pittsburgh's most sought-after apartment communities. Come enjoy unique apartment home living in the heart of great shopping and entertainment, with easy access to I-376 and the Pennsylvania Turnpike. Our oversized apartment homes have a modern, relaxed feel with tremendous amenities and views to take your breath away. Come experience the unique perspective offered by true high-rise living.
    </p>

</div>

