@{
    ViewData["Title"] = "Home";

}

@{
    //todo-p: add basic info for site visitors about app and database user logins
}


        <div style="text-align: center;">
            <img class="img-fluid" id="image-over" style="max-height:326px; max-width: 800px;" src="~/images/apthome2.jpg" />
            <br />
            <br />
            <div class="welcome-title-divider">
            </div>
            <br />
        </div>

    <div>

        <div class="col-md-12">
            <p style="text-align:justify; font-size: 18px;">
                Peach Grove Apartments is one of Pittsbrgh's most sought-after apartment communities. Come enjoy unique apartment home living in the heart of great shopping and entertainment, with easy access to I-376 and the Pennsylvania Turnpike. Our oversized apartment homes have a modern, relaxed feel with tremendous amenities and views to take your breath away. Come experience the unique perspective offered by true high-rise living.
            </p>
        </div>
    </div>
