@model PeachGroveApartments.Infrastructure.Models.Application

@{
    ViewData["Title"] = "Cancel Application";
    Layout = "~/Views/Shared/_ManagerAccountLayout.cshtml";
}
<partial name="_LoggedInAsPartial" />
<h1>Delete</h1>

<h3>Are you sure you want to cancel this?</h3>
<div>

    <form asp-action="AppCancel">
        <input type="hidden" asp-for="ApplicationId" />
        <input type="submit" value="Cancel" class="btn btn-danger" /> |
        <a asp-action="applicationuser">Back to List</a>
    </form>
</div>