
@{
    ViewData["Title"] = "Manage Account";
}
<partial name="_LoggedInAsPartial" />
<h1>Manage Account</h1>

<hr />

<a href="/Identity/Account/Manage/ChangePassword" class="manage-account-link">Change Password</a>
<a href="/Identity/Account/Manage/Email" class="manage-account-link" style="margin-left: 20px !important;">Change Email</a>