@model IList<Peach_Grove_Apartments_Demo_Project.Models.Application>
@{
    ViewData["Title"] = "Applications";
    Layout = "~/Views/Shared/_ApplicantAccountLayout.cshtml";
}

@{
    //todo-p: table not resp
}
<partial name="_LoggedInAsPartial" />
<br />
<h1>Your Applications</h1>



<hr />
<div class="container">
    @{
        if (Model.Count != 0)
        { <table class="table fp-table">

                <thead class="thead-light">
                    <tr>
                        <th scope="col">Date Applied</th>
                        <th scope="col">Apartment Number</th>
                        <th scope="col">SQ Feet</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var application in Model)

                    {
                        <tr>
                            <td>@application.DateApplied</td>
                            <td>@application.AptNumber</td>
                            <td>@application.Area</td>
                            <td>@application.Price</td>
                            <td>
                                @if (application.isApproved)
                                {
                                    <div style="background: lightgreen; border: 3px solid green; color: black;text-align: center;padding: 10px 30px;">

                                        <b>Approved</b>

                                    </div>
                                }
                                else
                                {
                                    <div style="background: #ff3333; border: 3px solid yellow; color: white;text-align: center; padding: 10px 30px;">

                                        <b>Pending Approval</b>

                                    </div>

                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>You haven't applied for an apartment yet. Please apply today!</h4>
        }
    }
</div>
