
@{
    ViewData["Title"] = "Account Home";
    ViewBag.SuccessMessage = "Your application was submitted successfully!";
}
<partial name="_LoggedInAsPartial" />
<h1>My Account Home</h1>

@if (ViewBag.ApplySuccess != null && ViewBag.ApplySuccess)
{
    //TODO-P: model param should be string but is bool.. change it

    <partial name="_ViewsStatusMessage" model="ViewBag.SuccessMessage" />
}


<hr />

<ul class="widgeticons">
    <li><a asp-controller="applicantaccount" asp-action="applications"><img class="img-fluid" src="~/images/applicationicon.png" style="width: 64px; height: 64px;" alt="My applications" /><br />My Applications</a></li>
    <li><a asp-controller="applicantaccount" asp-action="contactus"><img class="img-fluid" src="~/images/ua-email.png" alt="Email Us" /><br />Contact Us</a></li>
</ul>