
@{
    ViewData["Title"] = "Account Home";
}

<h1>My Account Home</h1>

<partial name="_LoggedInAsPartial" />

<hr />

<ul class="widgeticons">
    <li><a asp-controller="applicantaccount" asp-action="applications"><img src="~/images/ua-money.png" alt="Make a Payment" /><br />My Applications</a></li>
    <li><a asp-controller="applicantaccount" asp-action="contactus"><img src="~/images/ua-email.png" alt="Email Us" /><br />Contact Us</a></li>
</ul>