@{
    ViewData["Title"] = "Account Home";

}

<partial name="_LoggedInAsPartial" />
<h1>My Manager Account Home</h1>

<hr />

<ul class="widgeticons">
    <li><a asp-controller="manageraccount" asp-action="showapplicationusers"><img class="img-fluid" src="~/images/ua-money.png" alt="Make a Payment" /><br />Applications</a></li>
    <li><a asp-controller="manageraccount" asp-action="showmaintenancerequestsusers"><img class="img-fluid" src="~/images/ua-maintenance.png" alt="Request Maintenance" /><br />Maintenance</a></li>
</ul>